@charset "UTF-8";
/* Basic font size */
html {
	font-size: 16px;
}

/* default setting */
body {
	background: #fff;
	color: #333;
	font-family: "Zen Maru Gothic", serif;
	font-feature-settings: "palt";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

img {
	border-style: none;
	box-sizing: border-box;
	height: auto;
	object-fit: cover;
	max-width: 100%;
	vertical-align: bottom;
}

li {
	list-style: none;
}

h3 {
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.6rem;
}

p {
	line-height: 1.6;
}

/* ============================
* 共通
* ========================= */
.common {
	padding: 60px 0;
}
.common__inner {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0 20px;
}
.common .home-title {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
}
.common .home-title__en {
	font-family: "Reggae One", system-ui;
	font-size: 2.25em;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 1;
	padding-bottom: 0.625rem;
}
.common .home-title__ja {
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1;
	padding-bottom: 1.25rem;
}
.common .common-btn {
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.2);
	border-radius: 100vh;
}
.common .common-btn__inner {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	padding: 1rem 1.25rem;
	width: 100%;
	position: relative;
}
.common .common-btn__inner::after {
	content: "";
	background: url(../img/icon-arrow.svg);
	display: inline-block;
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: 50%;
	right: 1.25rem;
	transform: translateY(-50%);
}

.txt-pink {
	color: #ea6c92;
}

.txt-orange {
	color: #f0a573;
}

.txt-yellow {
	color: #fff6a3;
}

.txt-green {
	color: #98e88c;
}

.txt-blue {
	color: #9eb8ff;
}

.txt-red {
	color: #e53947;
}

/* ============================
* 改行
* ========================= */
@media screen and (min-width: 768px) {
	.non-md {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.non-lg {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.non-xl {
		display: none;
	}
}

/* ============================
* body
* ========================= */
.home {
	position: relative;
}

/* ============================
* header / footer
* ========================= */
.header {
	background: #fff;
	height: 80px;
	width: 100%;
	position: sticky;
	z-index: 2;
}
@media screen and (min-width: 768px) {
	.header {
		height: 100px;
	}
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625em;
	height: 100%;
}
.header__logo, .footer__logo {
	width: 200px;
}
.header__logo img, .footer__logo img {
	height: auto;
	width: 100%;
}

.footer {
	background: #e53947;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 0.625rem;
	padding: 1.25rem;
}
.footer__copyright {
	color: #fff;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
}

/* ============================
* gnav
* ========================= */
.gnav-content {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.gnav-content .gnav-btn {
	background-color: #e53947;
	border-radius: 0.25rem;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	padding: 0.625rem;
	height: 60px;
	width: 60px;
	z-index: 940;
	position: fixed;
	top: 0.625em;
	right: 0.625em;
}
@media screen and (min-width: 1200px) {
	.gnav-content .gnav-btn {
		display: none;
	}
}
.gnav-content .gnav-btn span {
	display: block;
	transition: all 0.4s;
}
.gnav-content .gnav-btn span:nth-of-type(1), .gnav-content .gnav-btn span:nth-of-type(3) {
	background: #fff;
	height: 3px;
	width: 40px;
}
.gnav-content .gnav-btn span:nth-of-type(2) {
	font-size: 0.875em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}
.gnav-content .gnav-btn.active span:nth-of-type(1) {
	width: 30px;
	transform: translateY(1.125rem) rotate(-45deg);
}
.gnav-content .gnav-btn.active span:nth-of-type(3) {
	width: 30px;
	transform: translateY(-1.125rem) rotate(45deg);
}
.gnav-content .gnav-btn.active span:nth-of-type(2) {
	opacity: 0;
}
.gnav-content .gnav {
	color: #fff;
	display: none;
}
.gnav-content .gnav.open {
	display: block;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 920;
}
.gnav-content .gnav__inner {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	padding: 60px 40px 40px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}
.gnav-content .gnav__unit {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
}
.gnav-content .gnav__title {
	font-size: 1em;
	font-weight: 500;
	line-height: 1;
}
.gnav-content .gnav__list {
	width: 100%;
}
.gnav-content .gnav__item {
	width: 100%;
}
.gnav-content .gnav__item:not(:first-of-type) {
	border-top: 1px dashed #fff;
}
.gnav-content .gnav__link, .gnav-content .gnav__link--btn {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
	padding: 12px 20px;
}
.gnav-content .gnav__link::after, .gnav-content .gnav__link--btn::after {
	content: "";
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	display: block;
	transform: rotate(45deg);
	height: 0.875rem;
	width: 0.875rem;
}
.gnav-content .gnav__link--btn {
	color: #333;
	font-size: 1em;
}
.gnav-content .gnav__link--btn::after {
	border-color: #e53947;
}
.gnav-content .gnav__btn {
	background: #fff;
	border-radius: 6px;
	width: 100%;
}

.circle-bg {
	position: fixed;
	z-index: 910;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #e53947;
	transform: scale(0);
	bottom: -50px;
	left: calc(50% - 50px);
	transition: all 0.6s;
}
.circle-bg.circleactive {
	transform: scale(50);
}

/* ============================
* HOME
* ========================= */
.main-visual__img {
	height: 100%;
}
.main-visual__img img {
	height: 100%;
	width: 100%;
}

.home-about {
	background: #fffce3;
}
.home-about__content {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 30px;
	text-align: center;
}
.home-about__text {
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
}
.home-about__btn {
	background: #ea6c92;
}