@charset "utf-8";

@use 'sass:map';
@use 'sass:meta';

$_breakpoints: (
	'xs': 375px,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
	// 'xxl': 1400px,
);
@mixin mq($mq, $bp) {
	// $min: 'min-width: #{$bp-min}';
	// $max: 'max-width: #{$bp-max} - 1';
	$breakpoint: map-get($_breakpoints, $bp);

	@if $mq == min {
		$min: 'min-width: #{$breakpoint}';
		@media screen and ($min) {
			@content;
		}
	} @else if $mq == max {
		$max: 'max-width: #{$breakpoint - 1}';
		@media screen and ($max) {
			@content;
		}
	}
};


/// color
$color_white: #fff;
$color_black: #333;
$color_corporate: #e53947;
$color_pastel-pink: #ea6c92;
$color_pastel-orange: #f0a573;
$color_pastel-yellow: #fff6a3;
$color_pastel-green: #98e88c;
$color_pastel-blue: #9eb8ff;
$color_line: #06C755;

$color_black-light: mix($color_black,  $color_white, 60%);
$color_black-border: mix($color_black,  $color_white, 40%);
// $color_pastel-yellow-light40: lighten($color_pastel-yellow, 4);
// $color_pastel-yellow-light-bg: rgba($color_pastel-yellow, 0.4);
$color_pastel-yellow-light-bg: mix($color_pastel-yellow, $color_white, 30%);
$color_pastel-blue-light-bg: mix($color_pastel-blue, $color_white, 15%);
$color_btn-shadow: rgba($color_black, 0.2);

$font_m-gothic: "Zen Maru Gothic", serif;
$font_reggae: "Reggae One", system-ui;



@mixin textLineMarker() {
	background:linear-gradient(transparent 60%, #ff6 60%);
}

@mixin flex($flow:null, $justify:null, $align:null,) {
	display: flex;
	flex-flow: $flow;
	justify-content: $justify;
	align-items: $align;
}



/* Basic font size */
html {
	font-size: 16px;
}

/* default setting */
body {
	background: $color_white;
	color: $color_black;
	font-family: $font_m-gothic;
	font-feature-settings: "palt";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: $color_black;//文字色デフォルトから変更
	text-decoration: none;// 下線を非表示
	cursor: pointer;
}

img {
	border-style: none;
	box-sizing: border-box;
	height: auto;
	object-fit: cover;// アスペクト比
	max-width: 100%;
	vertical-align: bottom;// 画像下の余白を消す
}

li {
	list-style: none;// マーク非表示
}

h3 {
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.6rem;

	// @include bq(tb-x) {
	// 	line-height: 1.8;
	// }
}

p {
	line-height: 1.6;
}




/* ============================
* 共通
* ========================= */
.common {
	padding: 60px 0;

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 0 20px;
	}

	.home-title {
		@include flex(column, null, center);
		text-align: center;

		&__en {
			font-family: $font_reggae;
			font-size: 2.25em;
			font-weight: normal;
			letter-spacing: 0.05em;
			line-height: 1;
			padding-bottom: 0.625rem;
		}
		&__ja {
			font-size: 1.5em;
			font-weight: 700;
			letter-spacing: 0.02em;
			line-height: 1;
			padding-bottom: 1.25rem;
		}
	}

	.common-btn {
		box-shadow: 0px 3px 3px 0px $color_btn-shadow;
		border-radius: 100vh;

		&__inner {
			color: $color_white;
			@include flex(null, center, center);
			font-size: 1em;
			font-weight: 700;
			line-height: 1;
			padding: 1rem 1.25rem;
			width: 100%;
			position: relative;

			&::after {
				content: '';
				background: url(../img/icon-arrow.svg);
				display: inline-block;
				height: 1rem;
				width: 1rem;
				position: absolute;
				top: 50%;
				right: 1.25rem;
				transform: translateY(-50%);
			}
		}
	}
}

.txt-pink {
	color: $color_pastel-pink;
}
.txt-orange {
	color: $color_pastel-orange;
}
.txt-yellow {
	color: $color_pastel-yellow;
}
.txt-green {
	color: $color_pastel-green;
}
.txt-blue {
	color: $color_pastel-blue;
}
.txt-red {
	color: $color_corporate;
}

.dots-inner {
	// width: 100%;
}


/* ============================
* 改行
* ========================= */
.non-md {
	@include mq(min, md) {
		display: none;
	}
}
.non-lg {
	@include mq(min, lg) {
		display: none;
	}
}
.non-xl {
	@include mq(min, xl) {
		display: none;
	}
}


/* ============================
* body
* ========================= */
.home {
	position: relative;
}
.home-main {
	position: absolute;
	top: -100px;
	width: 100%;
}


/* ============================
* header / footer
* ========================= */
.header {
	background: $color_white;
	height: 80px;
	width: 100%;
	// position: absolute;
	// top: 0;
	position: sticky;
	z-index: 2;
	@include mq(min, md) {
		height: 100px;
	}

	&__inner {
		@include flex(null, space-between, center);
		padding: 0.625em;
		height: 100%;

	}

	&__logo {
		width: 200px;

		img {
			height: auto;
			width: 100%;
		}
	}
}

.footer {
	background: $color_corporate;
	@include flex(column, null, center);
	gap: 0.625rem;
	padding: 1.25rem;

	&__logo {
		@extend .header__logo;
	}

	&__copyright {
		color: $color_white;
		font-size: 0.75em;
		font-weight: 500;
		line-height: 1;
	}
}

/* ============================
* gnav
* ========================= */
.gnav-content {
	width: 100%;
	// z-index: 999;
	position: absolute;
	top: 0;
	right: 0;

	.gnav-btn {
		background-color: $color_corporate;
		border-radius: 0.25rem;
		color: $color-white;
		cursor: pointer;
		@include flex(column, center, center);
		gap: 0.625rem;
		padding: 0.625rem;
		height: 60px;
		width: 60px;
		z-index: 940;

		position: fixed;
		top: 0.625em;
		right: 0.625em;

		@include mq(min, xl) {
			display: none;
		}

		span {
			display: block;
			transition: all .4s;

			&:nth-of-type(1),
			&:nth-of-type(3) {
				background: $color_white;
				height: 3px;
				width: 40px;
			}

			&:nth-of-type(2) {
				font-size: 0.875em;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
			}
		}

		&.active {
			span {
				&:nth-of-type(1) {
					width: 30px;
					transform: translateY(1.125rem) rotate(-45deg);
				}
				&:nth-of-type(3) {
					width: 30px;
					transform: translateY(-1.125rem) rotate(45deg);
				}

				&:nth-of-type(2) {
					opacity: 0;
				}
			}
		}
	}

	.gnav {
		color: $color_white;
		display: none;

		&.open {
			// background: $color_corporate;
			display: block;
			height: 100vh;
			width: 100%;
			position: fixed;
			z-index: 920;
		}

		&__inner {
			@include flex(column, flex-start, center);
			gap: 30px;
			padding: 60px 40px 40px;
			height: 100%;
			width: 100%;
			overflow-y: scroll;
		}

		&__unit {
			@include flex(column, center, center);
			gap: 20px;
			width: 100%;
		}

		&__title {
			font-size: 1em;
			font-weight: 500;
			line-height: 1;
		}

		&__list {
			width: 100%;
		}

		&__item {
			width: 100%;
			&:not(:first-of-type) {
				border-top: 1px dashed $color_white;
			}
		}

		&__link {
			color: $color_white;
			@include flex(null, space-between, center);
			font-size: 0.75em;
			font-weight: 500;
			line-height: 1;
			padding: 12px 20px;

			&::after {
				content: '';
				border-top: solid 2px $color_white;
				border-right: solid 2px $color_white;
				display: block;
				transform: rotate(45deg);
				height: 0.875rem;
				width: 0.875rem;
			}

			&--btn {
				@extend .gnav__link;
				color: $color_black;
				font-size: 1em;
				&::after {
					border-color: $color_corporate;
				}
			}
		}

		&__btn {
			background: $color_white;
			border-radius: 6px;
			width: 100%;
		}
	}
}

.circle-bg {
	position: fixed;
	z-index: 910;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: $color_corporate;
	transform: scale(0);
	bottom:-50px;
	left:calc(50% - 50px);
	transition: all .6s;

	&.circleactive {
		transform: scale(50);
	}
}


.shape-top {
	overflow:hidden;
	position:relative;
	height: 50px;

	&::before {
		content:'';
		// font-family:'shape divider from ShapeDividers.com';
		position: absolute;
		z-index: 3;
		pointer-events: none;
		background-repeat: no-repeat;
		bottom: -0.1vw;
		left: -0.1vw;
		right: -0.1vw;
		top: -0.1vw;
		transform: scaleX(4);
		transform-origin: 100% 0;
		animation: 10s infinite alternate shape-anim linear;
		background-size: 100% 50px;
		background-position: 50% 0%;
		background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');

		@media (min-width:2100px) {
			background-size: 100% calc(2vw + 90px);
		}
	}

	@keyframes shape-anim {
		100% {
			transform: scaleX(4) translateX(calc(100% - (100% / 4)));
		}
	}
}

.shape-bottom {
	@extend .shape-top;
	transform: rotate(180deg);
}




/* ============================
* HOME
* ========================= */

.main-visual {
	height: 100vh;
	margin-top: -80px;
	// height: calc(100vh - 80px);
	// margin-top: 80px;
	@include mq(min, md) {
		margin-top: -100px;
		// height: calc(100vh - 100px);
		// height: 100vh;
		// top: 0;
	}

	&__img {
		height: 100%;

		img {
			height: 100%;
			width: 100%;
		}
	}
}

.home-about {
	// .shape-top {
	// 	&::before {
	// 		background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
	// 	}
	// }

	&__inner {
		background: $color_pastel-yellow-light-bg;
	}

	&__content {
		@include flex(column, null, center);
		gap: 30px;
		text-align: center;
	}

	&__text {
		font-size: 1em;
		font-weight: 500;
		line-height: 1.5;
	}

	&__btn {
		background: $color_pastel-pink;
	}
}


.sns {
	&__list {
		// @include flex(null, center, center);
		width: 240px;
	}

	&__img {
		height: 240px;
		width: 240px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.shape-top {
		&::before {
			background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
		}
	}
	.shape-bottom {
		&::before {
			background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f4ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f0f4ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f0f4ff"/></svg>');
		}
	}
}

.swiper-wrap {
	position: relative;
	margin-bottom: 40px;
}
.swiper {
	width: 100%;
	height: 240px;
	// height: 300px;
}
.swiper-slide {
	width: 100%;
	// height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 240px;
		height: 240px;
	}
}
.swiper-pagination {
	bottom: -40px !important;
}
.swiper-button-prev {
	left: 0;
}
.swiper-button-next {
	right: 0;
}
.swiper-button-prev,
.swiper-button-next {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $color_black-light;
	border-radius: 100vh;
	&::after {
		color: $color_white;
		font-size: 1.25rem;
	}
}

.news {
	// .shape-bottom {
	// 	&::before {
	// 		background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f4ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f0f4ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f0f4ff"/></svg>');
	// 	}
	// }

	// .shape-top {
	// 	&::before {
	// 		background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f4ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f0f4ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f0f4ff"/></svg>');
	// 	}
	// }

	&__inner {
		background: $color_pastel-blue-light-bg;
	}

	&__content {
		background: $color_white;
		border-radius: 1.25em;
	}

	&__list {
		padding: 1.25rem 1rem;
	}

	&__item {
		border-bottom: 1px solid $color_black-border;
		@include flex(column, center, flex-start);
		gap: 0.625em;
		padding: 0.625rem 1rem;
	}

	&__date {
		color: $color_pastel-orange;
		font-size: 1em;
		font-weight: 700;
		line-height: 1;
	}

	&__title {
		color: $color_black-light;
		font-size: 1em;
		font-weight: 500;
		line-height: 1.5;
	}

	&__btn {
		background: $color_pastel-blue;
	}
}
