// mixin

@mixin textLineMarker($color) {
	background:linear-gradient(transparent 60%, $color 60%);
}

@mixin flex($flex:null, $justify:null, $align:null,) {
	display: flex;
	flex-direction: $flex;
	justify-content: $justify;
	align-items: $align;
}
