@use '../global/color' as *;
@use '../global/font' as *;
@use '../global/breakpoints' as *;
@use '../global/mixin' as *;

/* ============================
* gnav
* ========================= */
.gnav-content {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;

	.gnav-btn {
		background-color: $color_corporate;
		border-radius: 0.25rem;
		color: $color-white;
		cursor: pointer;
		@include flex(column, center, center);
		gap: 0.625rem;
		padding: 0.625rem;
		height: 3.75rem;
		width: 3.75rem;
		z-index: 940;

		position: fixed;
		top: 0.625em;
		// right: calc(3.75rem);
		right: 0.625em;

		@include mq(min, xl) {
			display: none;
		}

		span {
			display: block;
			transition: all .4s;

			&:nth-of-type(1),
			&:nth-of-type(3) {
				background: $color_white;
				height: 3px;
				width: 40px;
			}

			&:nth-of-type(2) {
				font-size: 0.875em;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
			}
		}

		&.active {
			span {
				&:nth-of-type(1) {
					width: 30px;
					transform: translateY(1rem) rotate(-45deg);
				}
				&:nth-of-type(3) {
					width: 30px;
					transform: translateY(-1rem) rotate(45deg);
				}

				&:nth-of-type(2) {
					opacity: 0;
				}
			}
		}
	}
}

.gnav {
	color: $color_white;
	display: none;

	&.open {
		display: block;
		height: 100vh;
		width: 100%;
		position: fixed;
		z-index: 920;
	}

	&__inner {
		padding: 3.75rem 2.5rem 2.5rem;
		height: 100%;
		width: 100%;
	}

	&__content {
		@include flex(column, flex-start, center);
		gap: 1.875rem;
		height: 100%;
		width: 100%;
		overflow-y: scroll;
	}

	&__main {
		@include flex(column, flex-start, center);
		gap: 1.875rem;
		width: 100%;
	}

	&__unit {
		@include flex(column, center, center);
		gap: 1.25rem;
		width: 100%;
	}

	&__title {
		font-size: 1em;
		font-weight: 500;
		line-height: 1;
	}

	&__list {
		width: 100%;
	}

	&__item {
		width: 100%;
		&:not(:first-of-type) {
			border-top: 1px dashed $color_white;
		}
	}

	&__link {
		color: $color_white;
		@include flex(null, space-between, center);
		font-size: 0.75em;
		font-weight: 500;
		line-height: 1;
		padding: 0.75rem 1.875rem;

		&::after {
			content: '';
			border-top: solid 2px $color_white;
			border-right: solid 2px $color_white;
			display: block;
			transform: rotate(45deg);
			height: 0.875rem;
			width: 0.875rem;
		}

		&--btn {
			@extend .gnav__link;
			color: $color_black;
			font-size: 1em;
			&::after {
				border-color: $color_corporate;
			}
		}
	}

	&__btn {
		background: $color_white;
		border-radius: 100vh;
		width: 100%;
	}
}

.circle-bg {
	position: fixed;
	z-index: 910;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: $color_corporate;
	transform: scale(0);
	bottom:-50px;
	left:calc(50% - 50px);
	transition: all .6s;

	&.circleactive {
		transform: scale(50);
	}
}

.footer-gnav {
	display: none;
	@include mq(min, xl) {
		display: block;
		background: $color_corporate;
		margin-bottom: -0.1em;
		padding-bottom: 3.75rem;

		.gnav {
			display: block;

			&__inner {
				padding: 0;
			}

			&__content {
				// @include flex(null, flex-start, flex-start);
				flex-direction: row;
				align-items: flex-start;
				gap: 2.5rem;
				overflow: inherit;
			}

			// &__content {
			// 	overflow-y: initial;
			// }
		}
	}
}
