@charset "UTF-8";
/* ============================
* breakpoints
* ========================= */
/* ============================
* color
* ========================= */
/* デフォルト色 */
/* 文字色 */
/* 線 */
/* 影 */
/* 背景色 */
/* ボタン色 */
/* フォント */
/* ============================
* mixin
* ========================= */
/* ============================
* 共通
* ========================= */
.common {
	padding: 60px 0;
}
@media screen and (min-width: 768px) {
	.common {
		padding: 100px 0;
	}
}
.common__inner, .child-top__inner {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0 20px;
}
@media screen and (min-width: 768px) {
	.common__inner, .child-top__inner {
		padding: 0 40px;
		gap: 60px;
	}
}
@media screen and (min-width: 1280px) {
	.common__inner, .child-top__inner {
		padding: 0;
		margin: 0 auto;
		max-width: 1000px;
	}
}
.common .home-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.common .home-title__en {
	font-family: "Reggae One", system-ui;
	font-size: 2.25em;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 1;
	padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
	.common .home-title__en {
		font-size: 2.5em;
	}
}
.common .home-title__ja {
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1;
	padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
	.common .home-title__ja {
		font-size: 2em;
		padding-bottom: 1em;
	}
}

@media screen and (min-width: 1280px) {
	.child-top {
		padding-top: 160px;
	}
}
.common-btn {
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.2);
	border-radius: 100vh;
	width: 100%;
}
@media screen and (min-width: 992px) {
	.common-btn {
		max-width: 480px;
		margin: 0 auto;
	}
}
.common-btn__inner {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	padding: 1.25rem 1.25rem;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.common-btn__inner {
		font-size: 1.5em;
		padding: 1.5rem 2.5rem;
	}
}

.common-btn-arrow, .contact-btn__body {
	position: relative;
}
.common-btn-arrow::after, .contact-btn__body::after {
	content: "";
	background: url('data:image/svg+xml;utf8,<svg width="48" height="46" viewBox="0 0 48 46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46.8221 20.0257L27.7367 1.14733C26.1783 -0.393729 23.6653 -0.38126 22.1243 1.17808C20.5832 2.73555 20.5967 5.24852 22.1551 6.78958L34.376 18.8794H3.96834C1.77712 18.8795 0 20.6556 0 22.8468C0 25.039 1.77712 26.8151 3.96834 26.8151H34.3759L22.1551 38.9039C20.5967 40.445 20.5832 42.959 22.1243 44.5165C23.6653 46.0748 26.1783 46.0883 27.7367 44.5472L46.8221 25.669C47.5763 24.9224 48 23.9072 48 22.8469C48 21.7863 47.5762 20.772 46.8221 20.0257Z" fill="white"/></svg>') center center/contain no-repeat;
	display: inline-block;
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: 50%;
	right: 1.25rem;
	transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
	.common-btn-arrow::after, .contact-btn__body::after {
		height: 1.5rem;
		width: 1.5rem;
		right: 2rem;
	}
}

.phone-btn-icon::before {
	background: url('data:image/svg+xml;utf8,<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.195 0H8.98539C7.06047 0 5.5 1.56041 5.5 3.48539V24.4235C5.5 27.5036 7.9965 30 11.0765 30H19.1038C22.1839 30 24.6803 27.5035 24.6803 24.4235V3.48539C24.6803 1.56041 23.12 0 21.195 0ZM15.0902 28.197C14.6147 28.197 14.2295 27.8118 14.2295 27.3364C14.2295 26.861 14.6147 26.4757 15.0902 26.4757C15.5656 26.4757 15.9508 26.8609 15.9508 27.3364C15.9508 27.8119 15.5656 28.197 15.0902 28.197ZM12.8771 1.31156H17.3028C17.5521 1.31156 17.7538 1.51383 17.7538 1.76256C17.7538 2.01135 17.5521 2.21355 17.3028 2.21355H12.8771C12.6278 2.21355 12.4261 2.01141 12.4261 1.76256C12.4261 1.51383 12.6278 1.31156 12.8771 1.31156ZM7.46723 24.4235V4.18031H22.7131V24.4235C22.7131 24.6487 22.6896 24.8682 22.6502 25.0819H7.5301C7.49078 24.8682 7.46723 24.6488 7.46723 24.4235Z" fill="%23333333" fill-opacity="0.4"/></svg>') center center/contain no-repeat;
}

.mail-btn-icon::before {
	background: url('data:image/svg+xml;utf8,<svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.2764 0.226074H0.723656C0.324469 0.226074 0 0.550543 0 0.950433V2.37501L12 10.4163L24 2.37426V0.950433C24 0.550543 23.6755 0.226074 23.2764 0.226074Z" fill="%23F0A573"/><path d="M0 5.3445V14.8785C0 16.4781 1.29567 17.7737 2.89598 17.7737H21.104C22.7044 17.7737 24 16.4781 24 14.8785V5.34375L12 13.3858L0 5.3445Z" fill="%23F0A573"/></svg>') center center/contain no-repeat;
}

.line-btn-icon::before {
	background: url('data:image/svg+xml;utf8,<svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.7697 0C19.81 0 25.5394 4.5872 25.5394 10.2281C25.5394 12.4793 24.6532 14.5183 22.7973 16.5213C21.4607 18.0449 19.2907 19.7218 17.2902 21.1085C15.2896 22.4781 13.4499 23.5557 12.7688 23.8382C12.4964 23.9495 12.2921 24 12.1304 24C11.5685 24 11.6187 23.4025 11.6613 23.1543C11.6953 22.966 11.8494 22.074 11.8494 22.074C11.892 21.7573 11.9337 21.254 11.806 20.9373C11.6613 20.5863 11.0909 20.4057 10.6738 20.3201C4.54516 19.5164 0 15.2784 0 10.2281C0 4.5872 5.72933 0 12.7697 0ZM11.9116 6.84614C11.4825 6.85384 11.0671 7.18339 11.0671 7.70383V12.8397C11.0671 13.3122 11.4485 13.6957 11.9184 13.6957C12.3883 13.6957 12.7697 13.3122 12.7697 12.8397V10.3753L14.6307 13.3362C15.1125 14.0141 16.1749 13.6726 16.1749 12.8397V7.70383C16.1749 7.23133 15.7935 6.84785 15.3236 6.84785C14.8537 6.84785 14.4723 7.23133 14.4723 7.70383V10.2718L12.6113 7.20736C12.4309 6.95314 12.1687 6.84186 11.9116 6.84614ZM4.25656 6.84785C3.78664 6.84785 3.40525 7.23133 3.40525 7.70383V12.8397C3.40525 13.3122 3.78664 13.6957 4.25656 13.6957H6.8105C7.28042 13.6957 7.66181 13.3122 7.66181 12.8397C7.66181 12.3672 7.28042 11.9837 6.8105 11.9837H5.10787V7.70383C5.10787 7.23133 4.72649 6.84785 4.25656 6.84785ZM9.36444 6.84785C8.89451 6.84785 8.51313 7.23133 8.51313 7.70383V12.8397C8.51313 13.3122 8.89451 13.6957 9.36444 13.6957C9.83436 13.6957 10.2157 13.3122 10.2157 12.8397V7.70383C10.2157 7.23133 9.83436 6.84785 9.36444 6.84785ZM17.8776 6.84785C17.4076 6.84785 17.0263 7.23133 17.0263 7.70383V12.8397C17.0263 13.3122 17.4076 13.6957 17.8776 13.6957H20.4315C20.9014 13.6957 21.2828 13.3122 21.2828 12.8397C21.2828 12.3672 20.9014 11.9837 20.4315 11.9837H18.7289V11.1278H20.4315C20.9023 11.1278 21.2828 10.7443 21.2828 10.2718C21.2828 9.79927 20.9023 9.41579 20.4315 9.41579H18.7289V8.55981H20.4315C20.9014 8.55981 21.2828 8.17633 21.2828 7.70383C21.2828 7.23133 20.9014 6.84785 20.4315 6.84785H17.8776Z" fill="%2306C755"/></svg>') center center/contain no-repeat;
}

.txt-pink {
	color: #ea6c92;
}

.txt-orange {
	color: #f0a573;
}

.txt-yellow {
	color: #fff6a3;
}

.txt-green {
	color: #98e88c;
}

.txt-blue {
	color: #9eb8ff;
}

.txt-red {
	color: #e53947;
}

.dots-inner img {
	height: 8px;
}
@media screen and (min-width: 768px) {
	.dots-inner img {
		height: 10px;
	}
}

/* ============================
* 改行
* ========================= */
@media screen and (min-width: 768px) {
	.non-md {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.non-lg {
		display: none;
	}
}

@media screen and (min-width: 1280px) {
	.non-xl {
		display: none;
	}
}

/* ============================
* shape
* ========================= */
.shape-top, .shape-top--pinnk-light, .shape-bottom, .shape-bottom-contact-mini, .shape-bottom--pinnk-light {
	overflow: hidden;
	position: relative;
	height: 50px;
}
@media screen and (min-width: 768px) {
	.shape-top, .shape-top--pinnk-light, .shape-bottom, .shape-bottom-contact-mini, .shape-bottom--pinnk-light {
		height: 100px;
	}
}
.shape-top::before, .shape-top--pinnk-light::before, .shape-bottom::before, .shape-bottom-contact-mini::before, .shape-bottom--pinnk-light::before {
	content: "";
	position: absolute;
	z-index: 1;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw;
	transform: scaleX(4);
	transform-origin: 100% 0;
	animation: 10s infinite alternate shape-anim linear;
	background-size: 100% 50px;
	background-position: 50% 0%;
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
}
@media screen and (min-width: 768px) {
	.shape-top::before, .shape-top--pinnk-light::before, .shape-bottom::before, .shape-bottom-contact-mini::before, .shape-bottom--pinnk-light::before {
		background-size: 100% 100px;
	}
}
@keyframes shape-anim {
	100% {
		transform: scaleX(4) translateX(75%);
	}
}

.shape-bottom, .shape-bottom-contact-mini, .shape-bottom--pinnk-light {
	transform: rotate(180deg);
}

.shape-top--pinnk-light::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fdf0f4"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fdf0f4"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fdf0f4"/></svg>');
}

.shape-bottom--pinnk-light::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fdf0f4"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fdf0f4"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fdf0f4"/></svg>');
}

/* ============================
* header
* ========================= */
.header {
	background: #fff;
	box-shadow: 2px 2px 4px 0px #ebebeb;
	height: 80px;
	width: 100%;
	position: relative;
	z-index: 2;
}
@media screen and (min-width: 1280px) {
	.header {
		border-radius: 0 0 2.5rem 2.5rem;
		height: 160px;
		margin: 0 0.625rem;
		width: calc(100% - 1.25rem);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}
}
@media screen and (min-width: 1280px) {
	.header.js_up-move {
		animation: UpAnime 0.5s forwards;
	}
}
@keyframes UpAnime {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-50px);
	}
}
@media screen and (min-width: 1280px) {
	.header.js_down-move {
		animation: DownAnime 0.5s forwards;
	}
}
@keyframes DownAnime {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625em;
	height: 100%;
}
@media screen and (min-width: 1280px) {
	.header__inner {
		flex-direction: column;
		gap: 1rem;
		padding: 0.75rem 1.875rem;
		width: 100%;
	}
}
.header__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 40px;
}
.header__logo, .footer__logo {
	width: 200px;
}
.header__logo img, .footer__logo img {
	height: auto;
	width: 100%;
}
@media screen and (min-width: 1280px) {
	.header__logo, .footer__logo {
		width: auto;
		height: 40px;
	}
	.header__logo img, .footer__logo img {
		width: auto;
		height: 100%;
	}
}
.header__foot {
	display: none;
}
@media screen and (min-width: 1280px) {
	.header__foot {
		display: block;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}
}

.header-contact {
	display: none;
}
@media screen and (min-width: 1280px) {
	.header-contact {
		display: block;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
		height: 100%;
	}
}
.header-contact__tel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0.4rem;
	width: 100%;
}
.header-contact__number-text {
	color: #858585;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1;
}
.header-contact__number {
	color: #ea6c92;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 1.375rem;
	font-weight: 700;
	line-height: 1;
}
.header-contact__number::before {
	content: "";
	display: block;
	width: 1.25rem;
	height: 1.25rem;
}
.header-contact__line {
	background: #06C755;
	height: 100%;
}
.header-contact__btn {
	gap: 0.625rem;
	padding: 0.75rem 1.25rem;
	width: max-content;
	height: 100%;
}
.header-contact__text {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
}
.header-contact__text::before {
	content: "";
	display: block;
	width: 1.125rem;
	height: 0.875rem;
}
.header-contact__mail {
	background: #f0a573;
	max-width: 220px;
	height: 100%;
}
.header-contact__mail .header-contact__text::before {
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.2764 0.226074H0.723656C0.324469 0.226074 0 0.550543 0 0.950433V2.37501L12 10.4163L24 2.37426V0.950433C24 0.550543 23.6755 0.226074 23.2764 0.226074Z" fill="white"/><path d="M0 5.3445V14.8785C0 16.4781 1.29567 17.7737 2.89598 17.7737H21.104C22.7044 17.7737 24 16.4781 24 14.8785V5.34375L12 13.3858L0 5.3445Z" fill="white"/></svg>');
}
.header-contact__line .header-contact__text::before {
	background-image: url('data:image/svg+xml;utf8,<svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.7697 0C19.81 0 25.5394 4.5872 25.5394 10.2281C25.5394 12.4793 24.6532 14.5183 22.7973 16.5213C21.4607 18.0449 19.2907 19.7218 17.2902 21.1085C15.2896 22.4781 13.4499 23.5557 12.7688 23.8382C12.4964 23.9495 12.2921 24 12.1304 24C11.5685 24 11.6187 23.4025 11.6613 23.1543C11.6953 22.966 11.8494 22.074 11.8494 22.074C11.892 21.7573 11.9337 21.254 11.806 20.9373C11.6613 20.5863 11.0909 20.4057 10.6738 20.3201C4.54516 19.5164 0 15.2784 0 10.2281C0 4.5872 5.72933 0 12.7697 0ZM11.9116 6.84614C11.4825 6.85384 11.0671 7.18339 11.0671 7.70383V12.8397C11.0671 13.3122 11.4485 13.6957 11.9184 13.6957C12.3883 13.6957 12.7697 13.3122 12.7697 12.8397V10.3753L14.6307 13.3362C15.1125 14.0141 16.1749 13.6726 16.1749 12.8397V7.70383C16.1749 7.23133 15.7935 6.84785 15.3236 6.84785C14.8537 6.84785 14.4723 7.23133 14.4723 7.70383V10.2718L12.6113 7.20736C12.4309 6.95314 12.1687 6.84186 11.9116 6.84614ZM4.25656 6.84785C3.78664 6.84785 3.40525 7.23133 3.40525 7.70383V12.8397C3.40525 13.3122 3.78664 13.6957 4.25656 13.6957H6.8105C7.28042 13.6957 7.66181 13.3122 7.66181 12.8397C7.66181 12.3672 7.28042 11.9837 6.8105 11.9837H5.10787V7.70383C5.10787 7.23133 4.72649 6.84785 4.25656 6.84785ZM9.36444 6.84785C8.89451 6.84785 8.51313 7.23133 8.51313 7.70383V12.8397C8.51313 13.3122 8.89451 13.6957 9.36444 13.6957C9.83436 13.6957 10.2157 13.3122 10.2157 12.8397V7.70383C10.2157 7.23133 9.83436 6.84785 9.36444 6.84785ZM17.8776 6.84785C17.4076 6.84785 17.0263 7.23133 17.0263 7.70383V12.8397C17.0263 13.3122 17.4076 13.6957 17.8776 13.6957H20.4315C20.9014 13.6957 21.2828 13.3122 21.2828 12.8397C21.2828 12.3672 20.9014 11.9837 20.4315 11.9837H18.7289V11.1278H20.4315C20.9023 11.1278 21.2828 10.7443 21.2828 10.2718C21.2828 9.79927 20.9023 9.41579 20.4315 9.41579H18.7289V8.55981H20.4315C20.9014 8.55981 21.2828 8.17633 21.2828 7.70383C21.2828 7.23133 20.9014 6.84785 20.4315 6.84785H17.8776Z" fill="white"/></svg>');
	height: 1rem;
	width: 1rem;
}

.header-gnav__list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.header-gnav__item:not(:last-of-type) .header-gnav__link {
	border-right: 1px dashed #adadad;
}
.header-gnav__item:nth-of-type(1) .header-gnav__text, .header-gnav__item:nth-of-type(3) .header-gnav__text, .header-gnav__item:nth-of-type(4) .header-gnav__text {
	letter-spacing: -0.08em;
}
.header-gnav__item:nth-of-type(6) .header-gnav__text {
	font-size: 0.75rem;
}
.header-gnav__link {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 6px;
	padding: 0 0.625rem;
	width: 120px;
	height: 80px;
}
.header-gnav__icon {
	width: auto;
	height: 40px;
}
.header-gnav__text {
	display: flex;
	align-items: center;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	height: 100%;
}
.header-gnav__btn-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header-gnav-btn {
	background: #ef8891;
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.2);
	border-radius: 100vh;
	width: 100%;
}
.header-gnav-btn__link {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.02em;
	padding: 0.625rem 1.25rem;
}

/* ============================
* footer
* ========================= */
.footer {
	background: #e53947;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	padding: 1.25rem;
}
.footer__copyright {
	color: #fff;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
}
@media screen and (min-width: 768px) {
	.footer__copyright {
		font-size: 0.875em;
	}
}

/* ============================
* body
* ========================= */
/* ============================
* header / footer
* ========================= */
.header {
	background: #fff;
	box-shadow: 2px 2px 4px 0px #ebebeb;
	height: 80px;
	width: 100%;
	position: relative;
	z-index: 2;
}
@media screen and (min-width: 1280px) {
	.header {
		border-radius: 0 0 2.5rem 2.5rem;
		height: 160px;
		margin: 0 0.625rem;
		width: calc(100% - 1.25rem);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}
}
@media screen and (min-width: 1280px) {
	.header.js_up-move {
		animation: UpAnime 0.5s forwards;
	}
}
@keyframes UpAnime {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-50px);
	}
}
@media screen and (min-width: 1280px) {
	.header.js_down-move {
		animation: DownAnime 0.5s forwards;
	}
}
@keyframes DownAnime {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625em;
	height: 100%;
}
@media screen and (min-width: 1280px) {
	.header__inner {
		flex-direction: column;
		gap: 1rem;
		padding: 0.75rem 1.875rem;
		width: 100%;
	}
}
.header__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 40px;
}
.header__logo, .footer__logo {
	width: 200px;
}
.header__logo img, .footer__logo img {
	height: auto;
	width: 100%;
}
@media screen and (min-width: 1280px) {
	.header__logo, .footer__logo {
		width: auto;
		height: 40px;
	}
	.header__logo img, .footer__logo img {
		width: auto;
		height: 100%;
	}
}
.header__foot {
	display: none;
}
@media screen and (min-width: 1280px) {
	.header__foot {
		display: block;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}
}

.header-contact {
	display: none;
}
@media screen and (min-width: 1280px) {
	.header-contact {
		display: block;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
		height: 100%;
	}
}
.header-contact__tel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0.4rem;
	width: 100%;
}
.header-contact__number-text {
	color: #858585;
	font-size: 0.75rem;
	font-weight: 700;
	line-height: 1;
}
.header-contact__number {
	color: #ea6c92;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 1.375rem;
	font-weight: 700;
	line-height: 1;
}
.header-contact__number::before {
	content: "";
	display: block;
	width: 1.25rem;
	height: 1.25rem;
}
.header-contact__line {
	background: #06C755;
	height: 100%;
}
.header-contact__btn {
	gap: 0.625rem;
	padding: 0.75rem 1.25rem;
	width: max-content;
	height: 100%;
}
.header-contact__text {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
}
.header-contact__text::before {
	content: "";
	display: block;
	width: 1.125rem;
	height: 0.875rem;
}
.header-contact__mail {
	background: #f0a573;
	max-width: 220px;
	height: 100%;
}
.header-contact__mail .header-contact__text::before {
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.2764 0.226074H0.723656C0.324469 0.226074 0 0.550543 0 0.950433V2.37501L12 10.4163L24 2.37426V0.950433C24 0.550543 23.6755 0.226074 23.2764 0.226074Z" fill="white"/><path d="M0 5.3445V14.8785C0 16.4781 1.29567 17.7737 2.89598 17.7737H21.104C22.7044 17.7737 24 16.4781 24 14.8785V5.34375L12 13.3858L0 5.3445Z" fill="white"/></svg>');
}
.header-contact__line .header-contact__text::before {
	background-image: url('data:image/svg+xml;utf8,<svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.7697 0C19.81 0 25.5394 4.5872 25.5394 10.2281C25.5394 12.4793 24.6532 14.5183 22.7973 16.5213C21.4607 18.0449 19.2907 19.7218 17.2902 21.1085C15.2896 22.4781 13.4499 23.5557 12.7688 23.8382C12.4964 23.9495 12.2921 24 12.1304 24C11.5685 24 11.6187 23.4025 11.6613 23.1543C11.6953 22.966 11.8494 22.074 11.8494 22.074C11.892 21.7573 11.9337 21.254 11.806 20.9373C11.6613 20.5863 11.0909 20.4057 10.6738 20.3201C4.54516 19.5164 0 15.2784 0 10.2281C0 4.5872 5.72933 0 12.7697 0ZM11.9116 6.84614C11.4825 6.85384 11.0671 7.18339 11.0671 7.70383V12.8397C11.0671 13.3122 11.4485 13.6957 11.9184 13.6957C12.3883 13.6957 12.7697 13.3122 12.7697 12.8397V10.3753L14.6307 13.3362C15.1125 14.0141 16.1749 13.6726 16.1749 12.8397V7.70383C16.1749 7.23133 15.7935 6.84785 15.3236 6.84785C14.8537 6.84785 14.4723 7.23133 14.4723 7.70383V10.2718L12.6113 7.20736C12.4309 6.95314 12.1687 6.84186 11.9116 6.84614ZM4.25656 6.84785C3.78664 6.84785 3.40525 7.23133 3.40525 7.70383V12.8397C3.40525 13.3122 3.78664 13.6957 4.25656 13.6957H6.8105C7.28042 13.6957 7.66181 13.3122 7.66181 12.8397C7.66181 12.3672 7.28042 11.9837 6.8105 11.9837H5.10787V7.70383C5.10787 7.23133 4.72649 6.84785 4.25656 6.84785ZM9.36444 6.84785C8.89451 6.84785 8.51313 7.23133 8.51313 7.70383V12.8397C8.51313 13.3122 8.89451 13.6957 9.36444 13.6957C9.83436 13.6957 10.2157 13.3122 10.2157 12.8397V7.70383C10.2157 7.23133 9.83436 6.84785 9.36444 6.84785ZM17.8776 6.84785C17.4076 6.84785 17.0263 7.23133 17.0263 7.70383V12.8397C17.0263 13.3122 17.4076 13.6957 17.8776 13.6957H20.4315C20.9014 13.6957 21.2828 13.3122 21.2828 12.8397C21.2828 12.3672 20.9014 11.9837 20.4315 11.9837H18.7289V11.1278H20.4315C20.9023 11.1278 21.2828 10.7443 21.2828 10.2718C21.2828 9.79927 20.9023 9.41579 20.4315 9.41579H18.7289V8.55981H20.4315C20.9014 8.55981 21.2828 8.17633 21.2828 7.70383C21.2828 7.23133 20.9014 6.84785 20.4315 6.84785H17.8776Z" fill="white"/></svg>');
	height: 1rem;
	width: 1rem;
}

.header-gnav__list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.header-gnav__item:not(:last-of-type) .header-gnav__link {
	border-right: 1px dashed #adadad;
}
.header-gnav__item:nth-of-type(1) .header-gnav__text, .header-gnav__item:nth-of-type(3) .header-gnav__text, .header-gnav__item:nth-of-type(4) .header-gnav__text {
	letter-spacing: -0.08em;
}
.header-gnav__item:nth-of-type(6) .header-gnav__text {
	font-size: 0.75rem;
}
.header-gnav__link {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 6px;
	padding: 0 0.625rem;
	width: 120px;
	height: 80px;
}
.header-gnav__icon {
	width: auto;
	height: 40px;
}
.header-gnav__text {
	display: flex;
	align-items: center;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	height: 100%;
}
.header-gnav__btn-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header-gnav-btn {
	background: #ef8891;
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.2);
	border-radius: 100vh;
	width: 100%;
}
.header-gnav-btn__link {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.02em;
	padding: 0.625rem 1.25rem;
}

.footer {
	background: #e53947;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	padding: 1.25rem;
}
.footer__copyright {
	color: #fff;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
}
@media screen and (min-width: 768px) {
	.footer__copyright {
		font-size: 0.875em;
	}
}

/* ============================
* gnav
* ========================= */
.gnav-content {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.gnav-content .gnav-btn {
	background-color: #e53947;
	border-radius: 0.25rem;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	padding: 0.625rem;
	height: 60px;
	width: 60px;
	z-index: 940;
	position: fixed;
	top: 0.625em;
	right: 0.625em;
}
@media screen and (min-width: 1280px) {
	.gnav-content .gnav-btn {
		display: none;
	}
}
.gnav-content .gnav-btn span {
	display: block;
	transition: all 0.4s;
}
.gnav-content .gnav-btn span:nth-of-type(1), .gnav-content .gnav-btn span:nth-of-type(3) {
	background: #fff;
	height: 3px;
	width: 40px;
}
.gnav-content .gnav-btn span:nth-of-type(2) {
	font-size: 0.875em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}
.gnav-content .gnav-btn.active span:nth-of-type(1) {
	width: 30px;
	transform: translateY(1.125rem) rotate(-45deg);
}
.gnav-content .gnav-btn.active span:nth-of-type(3) {
	width: 30px;
	transform: translateY(-1.125rem) rotate(45deg);
}
.gnav-content .gnav-btn.active span:nth-of-type(2) {
	opacity: 0;
}

.gnav {
	color: #fff;
	display: none;
}
.gnav.open {
	display: block;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 920;
}
.gnav__inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	padding: 60px 40px 40px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}
.gnav__main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	width: 100%;
}
.gnav__unit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
}
.gnav__title {
	font-size: 1em;
	font-weight: 500;
	line-height: 1;
}
.gnav__list {
	width: 100%;
}
.gnav__item {
	width: 100%;
}
.gnav__item:not(:first-of-type) {
	border-top: 1px dashed #fff;
}
.gnav__link, .gnav__link--btn {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
	padding: 0.75rem 1.875rem;
}
.gnav__link::after, .gnav__link--btn::after {
	content: "";
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	display: block;
	transform: rotate(45deg);
	height: 0.875rem;
	width: 0.875rem;
}
.gnav__link--btn {
	color: #333;
	font-size: 1em;
}
.gnav__link--btn::after {
	border-color: #e53947;
}
.gnav__btn {
	background: #fff;
	border-radius: 100vh;
	width: 100%;
}

.circle-bg {
	position: fixed;
	z-index: 910;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #e53947;
	transform: scale(0);
	bottom: -50px;
	left: calc(50% - 50px);
	transition: all 0.6s;
}
.circle-bg.circleactive {
	transform: scale(50);
}

@media screen and (min-width: 1280px) {
	.footer-gnav {
		background: #e53947;
		margin-bottom: -0.1em;
		padding-bottom: 60px;
	}
	.footer-gnav .gnav {
		display: block;
	}
	.footer-gnav .gnav__inner {
		flex-direction: row;
		align-items: flex-start;
		gap: 40px;
		padding: 0;
		overflow: inherit;
	}
}

/* ============================
* contact-mini
* ========================= */
.contact-mini__inner {
	background: #fbe1e3;
}
.contact-mini__title-en {
	color: #f7c4c8;
}
.contact-mini__head {
	color: #858585;
	font-weight: 700;
	text-align: center;
	width: 100%;
}
.contact-mini__lead {
	border-bottom: 1px solid #f2a7be;
	font-size: 1.25em;
	line-height: 1.4;
	padding: 0 1.25rem 0.625rem;
}
@media screen and (min-width: 768px) {
	.contact-mini__lead {
		font-size: 2.25em;
	}
}
.contact-mini__text {
	font-size: 1em;
	line-height: 1;
	padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
	.contact-mini__text {
		font-size: 1.25em;
		padding-top: 1.5em;
	}
}
.contact-mini .shape-bottom::before, .contact-mini .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbe1e3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbe1e3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbe1e3"/></svg>');
}

.shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbe1e3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbe1e3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbe1e3"/></svg>');
}

.contact__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}
@media screen and (min-width: 1280px) {
	.contact__list {
		flex-direction: row;
	}
}
.contact__item {
	width: 100%;
}
.contact__item-inner {
	border-radius: 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	padding: 1.875rem 1.25rem;
	position: relative;
}
@media screen and (min-width: 768px) {
	.contact__item-inner {
		padding: 2.5em 1em;
	}
}
@media screen and (min-width: 1280px) {
	.contact__item-inner {
		gap: 1.875rem;
	}
}

.contact-btn {
	background: repeating-linear-gradient(135deg, #ea6c92, #ea6c92 0.5rem, #ec7b9d 0.5rem, #ec7b9d 1rem);
}
.contact-btn__title {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-size: 1.25em;
	font-weight: 900;
	line-height: 1;
}
@media screen and (min-width: 1280px) {
	.contact-btn__title {
		font-size: 1.4em;
	}
}
.contact-btn__title::before, .contact-btn__title::after {
	content: "";
	background: #fff;
	width: 1.25rem;
	height: 1px;
}
.contact-btn__body {
	background: #fff;
	border-radius: 100vh;
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	padding: 0.625rem 1.25rem;
	height: 50px;
	width: 100%;
	position: relative;
}
@media screen and (min-width: 768px) {
	.contact-btn__body {
		height: auto;
	}
}
@media screen and (min-width: 1280px) {
	.contact-btn__body {
		justify-content: space-between;
		padding: 1.25rem;
	}
}
@media screen and (min-width: 1280px) {
	.contact-btn .contact-btn__body::after, .contact-btn--mail .contact-btn__body::after, .contact-btn--line .contact-btn__body::after {
		width: 1em;
		height: 1em;
		right: 1.25em;
	}
}
.contact-btn__number {
	color: #ea6c92;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
}
@media screen and (min-width: 1280px) {
	.contact-btn__number {
		gap: 0.375rem;
	}
}
.contact-btn__number::before {
	content: "";
	display: block;
	width: 1.875rem;
	height: 1.875rem;
}
@media screen and (min-width: 1280px) {
	.contact-btn__number::before {
		width: 1.5rem;
		height: 1.5rem;
	}
}
.contact-btn__text {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-size: 1.1rem;
	font-weight: 900;
	line-height: 1;
}
.contact-btn__text::before {
	content: "";
	display: block;
	width: 1.5rem;
	height: 1.125rem;
}
.contact-btn--mail {
	background: repeating-linear-gradient(135deg, #f0a573, #f0a573 0.5rem, #f2ae81 0.5rem, #f2ae81 1rem);
}
.contact-btn--mail .contact-btn__body::after {
	background-image: url('data:image/svg+xml;utf8,<svg width="48" height="46" viewBox="0 0 48 46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46.8221 20.0257L27.7367 1.14733C26.1783 -0.393729 23.6653 -0.38126 22.1243 1.17808C20.5832 2.73555 20.5967 5.24852 22.1551 6.78958L34.376 18.8794H3.96834C1.77712 18.8795 0 20.6556 0 22.8468C0 25.039 1.77712 26.8151 3.96834 26.8151H34.3759L22.1551 38.9039C20.5967 40.445 20.5832 42.959 22.1243 44.5165C23.6653 46.0748 26.1783 46.0883 27.7367 44.5472L46.8221 25.669C47.5763 24.9224 48 23.9072 48 22.8469C48 21.7863 47.5762 20.772 46.8221 20.0257Z" fill="%23F0A573"/></svg>');
}
.contact-btn--mail .contact-btn__text {
	color: #f0a573;
}
.contact-btn--line {
	background: #06C755;
}
.contact-btn--line .contact-btn__body::after {
	background-image: url('data:image/svg+xml;utf8,<svg width="48" height="46" viewBox="0 0 48 46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M46.8221 20.0257L27.7367 1.14733C26.1783 -0.393729 23.6653 -0.38126 22.1243 1.17808C20.5832 2.73555 20.5967 5.24852 22.1551 6.78958L34.376 18.8794H3.96834C1.77712 18.8795 0 20.6556 0 22.8468C0 25.039 1.77712 26.8151 3.96834 26.8151H34.3759L22.1551 38.9039C20.5967 40.445 20.5832 42.959 22.1243 44.5165C23.6653 46.0748 26.1783 46.0883 27.7367 44.5472L46.8221 25.669C47.5763 24.9224 48 23.9072 48 22.8469C48 21.7863 47.5762 20.772 46.8221 20.0257Z" fill="%2306C755"/></svg>');
}
.contact-btn--line .contact-btn__text {
	color: #06C755;
}

/* ============================
* HOME page
* ========================= */
.main-visual {
	height: 100vh;
	margin-top: -80px;
}
@media screen and (min-width: 768px) {
	.main-visual {
		margin-top: -100px;
	}
}
.main-visual__img {
	height: 100%;
}
.main-visual__img img {
	height: 100%;
	width: 100%;
}

.home-about__inner {
	background: #fffce3;
}
.home-about__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	text-align: center;
}
.home-about__text {
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
}
@media screen and (min-width: 768px) {
	.home-about__text {
		font-size: 1.25em;
	}
}
.home-about .about-btn {
	background: #ea6c92;
}

.sns .shape-top::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
}
.sns .shape-bottom::before, .sns .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f4ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f0f4ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f0f4ff"/></svg>');
}

.announce__inner {
	background: #f0f4ff;
}
.announce__content {
	background: #fff;
	border-radius: 1.25em;
}
.announce__list {
	padding: 1.25rem 1rem;
}
@media screen and (min-width: 768px) {
	.announce__list {
		padding: 1.25em;
	}
}
.announce__item {
	border-bottom: 1px solid #adadad;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.625em;
	padding: 0.625rem 1rem;
}
.announce__date {
	color: #f0a573;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
}
@media screen and (min-width: 768px) {
	.announce__date {
		font-size: 1.25em;
	}
}
.announce__title {
	color: #858585;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
}
@media screen and (min-width: 768px) {
	.announce__title {
		font-size: 1.25em;
	}
}
.announce .announce-btn {
	background: #9eb8ff;
}

.course-instructor__inner {
	gap: 60px;
}
.course-instructor .shape-top::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f4ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f0f4ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f0f4ff"/></svg>');
}
.course-instructor .shape-bottom::before, .course-instructor .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
}

.course, .instructor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
@media screen and (min-width: 1280px) {
	.course, .instructor {
		flex-flow: row;
		gap: 60px;
	}
}
.course__img, .instructor__img {
	height: 200px;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.course__img, .instructor__img {
		height: 430px;
	}
}
.course__img img, .instructor__img img {
	border-radius: 1.25rem;
	box-shadow: 2px 2px 4px 0px #ebebeb;
	height: 100%;
	width: 100%;
}
.course__content, .instructor__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.course__content .home-title .home-title__ja, .instructor__content .home-title .home-title__ja {
	padding-bottom: 0;
}
.course__content .home-title .dots-inner, .instructor__content .home-title .dots-inner {
	padding-bottom: 1.25rem;
}
.course__title-area {
	align-items: flex-start !important;
	width: 100%;
}
.course__text-area, .instructor__text-area {
	color: #858585;
	text-align: center;
}
.course__lead, .instructor__lead {
	font-size: 1.25em;
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 1;
	padding-bottom: 1.25rem;
}
.course__text, .instructor__text {
	font-size: 1em;
	font-weight: 500;
	line-height: 1.8;
	text-align: left;
}
.course .course-btn, .instructor .course-btn {
	background: #ea6c92;
	width: 100%;
}

@media screen and (min-width: 1280px) {
	.instructor {
		flex-direction: row-reverse;
	}
}
.instructor__title-area {
	align-items: flex-end !important;
	width: 100%;
}
.instructor .lesson__lead {
	letter-spacing: -0.04em;
}
.instructor .instructor-btn {
	background: #f0a573;
	width: 100%;
}

.schedule {
	background: #fffce3;
}
.schedule__desc {
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
	.schedule__desc {
		font-size: 1.25em;
		text-align: center;
		margin-bottom: 40px;
	}
}
@media screen and (min-width: 1280px) {
	.schedule__btn-box {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 40px;
	}
}
.schedule .schedule-btn-mini {
	background: #f0a573;
	width: 100%;
}
.schedule .schedule-btn-mini:not(:last-of-type) {
	margin-bottom: 1.25rem;
}
@media screen and (min-width: 1280px) {
	.schedule .schedule-btn-mini:not(:last-of-type) {
		margin-bottom: 0;
	}
}
.schedule .schedule-btn-mini__inner {
	justify-content: flex-start;
}
.schedule .schedule-btn {
	background: #ef8891;
	width: 100%;
	max-width: none;
}
.schedule .schedule-btn__inner {
	font-size: 1.5em;
	line-height: 1.2;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.schedule .schedule-btn__inner {
		height: 80px;
	}
}

/* ============================
* MAIN
* ========================= */
.child .child-title__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2.5rem 0;
}
@media screen and (min-width: 1280px) {
	.child .child-title__inner {
		gap: 2.5rem;
		padding: 60px 0;
	}
}
.child .child-title__ja {
	color: #858585;
	font-size: 1.5rem;
	font-family: 700;
	line-height: 1;
}
.child .child-about {
	background: #fdf0f4;
}
.child .child-about__main .about-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.child .child-about__main .about-main__img {
	width: 100%;
	height: 220px;
}
@media screen and (min-width: 768px) {
	.child .child-about__main .about-main__img {
		height: 600px;
	}
}
.child .child-about__main .about-main__img img {
	border-radius: 1.25rem;
}
.child .child-about__main .about-main__text {
	font-size: 1rem;
	line-height: 1.8;
}