@charset "UTF-8";
/* ============================
* breakpoints
* ========================= */
/* ============================
* color
* ========================= */
/* デフォルト色 */
/* 文字色 */
/* 線 */
/* 影 */
/* 背景色 */
/* ボタン色 */
/* フォント */
/* ============================
* mixin
* ========================= */
/* ============================
* base
* ========================= */
/* Basic font size */
html {
	font-size: 16px;
}

/* default setting */
body {
	background: #fff;
	color: #333;
	font-family: "Zen Maru Gothic", serif;
	font-feature-settings: "palt";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

img {
	border-style: none;
	box-sizing: border-box;
	height: auto;
	object-fit: cover;
	max-width: 100%;
	vertical-align: bottom;
}

li {
	list-style: none;
}

h3 {
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.6rem;
}

p {
	line-height: 1.6;
}

/* ============================
* 共通
* ========================= */
.common {
	padding: 60px 0;
}
@media screen and (min-width: 768px) {
	.common {
		padding: 100px 0;
	}
}
.common__inner {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0 20px;
}
@media screen and (min-width: 768px) {
	.common__inner {
		padding: 0 40px;
		gap: 60px;
	}
}
@media screen and (min-width: 1200px) {
	.common__inner {
		padding: 0;
		margin: 0 auto;
		max-width: 1000px;
	}
}
.common .home-title {
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
}
.common .home-title__en {
	font-family: "Reggae One", system-ui;
	font-size: 2.25em;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 1;
	padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
	.common .home-title__en {
		font-size: 2.5em;
	}
}
.common .home-title__ja {
	font-size: 1.5em;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1;
	padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
	.common .home-title__ja {
		font-size: 2em;
		padding-bottom: 1em;
	}
}
.common .common-btn {
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.2);
	border-radius: 100vh;
	width: 100%;
}
@media screen and (min-width: 992px) {
	.common .common-btn {
		max-width: 480px;
		margin: 0 auto;
	}
}
.common .common-btn__inner {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	padding: 1.25rem 1.25rem;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.common .common-btn__inner {
		font-size: 1.5em;
		padding: 1.5rem 2.5rem;
	}
}
.common .common-btn-arrow, .common .contact-btn__body {
	position: relative;
}
.common .common-btn-arrow::after, .common .contact-btn__body::after {
	content: "";
	background: url(../img/icon-arrow.svg) center center/contain no-repeat;
	display: inline-block;
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: 50%;
	right: 1.25rem;
	transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
	.common .common-btn-arrow::after, .common .contact-btn__body::after {
		height: 1.5rem;
		width: 1.5rem;
		right: 2rem;
	}
}

.txt-pink {
	color: #ea6c92;
}

.txt-orange {
	color: #f0a573;
}

.txt-yellow {
	color: #fff6a3;
}

.txt-green {
	color: #98e88c;
}

.txt-blue {
	color: #9eb8ff;
}

.txt-red {
	color: #e53947;
}

.dots-inner img {
	height: 8px;
}
@media screen and (min-width: 768px) {
	.dots-inner img {
		height: 10px;
	}
}

/* ============================
* 改行
* ========================= */
@media screen and (min-width: 768px) {
	.non-md {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.non-lg {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.non-xl {
		display: none;
	}
}

/* ============================
* shape
* ========================= */
.shape-top, .shape-bottom, .shape-bottom-contact-mini {
	overflow: hidden;
	position: relative;
	height: 50px;
}
@media screen and (min-width: 768px) {
	.shape-top, .shape-bottom, .shape-bottom-contact-mini {
		height: 100px;
	}
}
.shape-top::before, .shape-bottom::before, .shape-bottom-contact-mini::before {
	content: "";
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw;
	transform: scaleX(4);
	transform-origin: 100% 0;
	animation: 10s infinite alternate shape-anim linear;
	background-size: 100% 50px;
	background-position: 50% 0%;
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
}
@media screen and (min-width: 768px) {
	.shape-top::before, .shape-bottom::before, .shape-bottom-contact-mini::before {
		background-size: 100% 100px;
	}
}
@keyframes shape-anim {
	100% {
		transform: scaleX(4) translateX(75%);
	}
}

.shape-bottom, .shape-bottom-contact-mini {
	transform: rotate(180deg);
}

/* ============================
* body
* ========================= */
/* ============================
* header / footer
* ========================= */
.header {
	background: #fff;
	height: 80px;
	width: 100%;
	position: relative;
	z-index: 2;
}
@media screen and (min-width: 768px) {
	.header {
		height: 100px;
	}
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625em;
	height: 100%;
}
.header__logo, .footer__logo {
	width: 200px;
}
.header__logo img, .footer__logo img {
	height: auto;
	width: 100%;
}

.footer {
	background: #e53947;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 0.625rem;
	padding: 1.25rem;
}
.footer__copyright {
	color: #fff;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
}
@media screen and (min-width: 768px) {
	.footer__copyright {
		font-size: 0.875em;
	}
}

/* ============================
* gnav
* ========================= */
.gnav-content {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.gnav-content .gnav-btn {
	background-color: #e53947;
	border-radius: 0.25rem;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	padding: 0.625rem;
	height: 60px;
	width: 60px;
	z-index: 940;
	position: fixed;
	top: 0.625em;
	right: 0.625em;
}
@media screen and (min-width: 1200px) {
	.gnav-content .gnav-btn {
		display: none;
	}
}
.gnav-content .gnav-btn span {
	display: block;
	transition: all 0.4s;
}
.gnav-content .gnav-btn span:nth-of-type(1), .gnav-content .gnav-btn span:nth-of-type(3) {
	background: #fff;
	height: 3px;
	width: 40px;
}
.gnav-content .gnav-btn span:nth-of-type(2) {
	font-size: 0.875em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}
.gnav-content .gnav-btn.active span:nth-of-type(1) {
	width: 30px;
	transform: translateY(1.125rem) rotate(-45deg);
}
.gnav-content .gnav-btn.active span:nth-of-type(3) {
	width: 30px;
	transform: translateY(-1.125rem) rotate(45deg);
}
.gnav-content .gnav-btn.active span:nth-of-type(2) {
	opacity: 0;
}

.gnav {
	color: #fff;
	display: none;
}
.gnav.open {
	display: block;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 920;
}
.gnav__inner {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	padding: 60px 40px 40px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}
.gnav__main {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	width: 100%;
}
.gnav__unit {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
}
.gnav__title {
	font-size: 1em;
	font-weight: 500;
	line-height: 1;
}
.gnav__list {
	width: 100%;
}
.gnav__item {
	width: 100%;
}
.gnav__item:not(:first-of-type) {
	border-top: 1px dashed #fff;
}
.gnav__link, .gnav__link--btn {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75em;
	font-weight: 500;
	line-height: 1;
	padding: 0.75rem 1.875rem;
}
.gnav__link::after, .gnav__link--btn::after {
	content: "";
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	display: block;
	transform: rotate(45deg);
	height: 0.875rem;
	width: 0.875rem;
}
.gnav__link--btn {
	color: #333;
	font-size: 1em;
}
.gnav__link--btn::after {
	border-color: #e53947;
}
.gnav__btn {
	background: #fff;
	border-radius: 100vh;
	width: 100%;
}

.circle-bg {
	position: fixed;
	z-index: 910;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #e53947;
	transform: scale(0);
	bottom: -50px;
	left: calc(50% - 50px);
	transition: all 0.6s;
}
.circle-bg.circleactive {
	transform: scale(50);
}

@media screen and (min-width: 1200px) {
	.footer-gnav {
		background: #e53947;
		margin-bottom: -0.1em;
		padding-bottom: 60px;
	}
	.footer-gnav .gnav {
		display: block;
	}
	.footer-gnav .gnav__inner {
		flex-direction: row;
		align-items: flex-start;
		gap: 40px;
		padding: 0;
	}
}

/* ============================
* contact-mini
* ========================= */
.contact-mini__inner {
	background: #fbe1e3;
}
.contact-mini__title-en {
	color: #f7c4c8;
}
.contact-mini__head {
	color: #858585;
	font-weight: 700;
	text-align: center;
	width: 100%;
}
.contact-mini__lead {
	border-bottom: 1px solid #f2a7be;
	font-size: 1.25em;
	line-height: 1.4;
	padding: 0 1.25rem 0.625rem;
}
@media screen and (min-width: 768px) {
	.contact-mini__lead {
		font-size: 2.25em;
	}
}
.contact-mini__text {
	font-size: 1em;
	line-height: 1;
	padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
	.contact-mini__text {
		font-size: 1.25em;
		padding-top: 1.5em;
	}
}
.contact-mini .shape-bottom::before, .contact-mini .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbe1e3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbe1e3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbe1e3"/></svg>');
}

.shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbe1e3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbe1e3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbe1e3"/></svg>');
}

.contact__list {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
}
@media screen and (min-width: 1200px) {
	.contact__list {
		flex-direction: row;
	}
}
.contact__item {
	width: 100%;
}
.contact__item-inner {
	border-radius: 1.25rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	padding: 1.875rem 1.25rem;
	position: relative;
}
@media screen and (min-width: 768px) {
	.contact__item-inner {
		padding: 2.5em 1em;
	}
}
@media screen and (min-width: 1200px) {
	.contact__item-inner {
		gap: 1.875rem;
	}
}

.contact-btn {
	background: repeating-linear-gradient(135deg, #ea6c92, #ea6c92 0.5rem, #ec7b9d 0.5rem, #ec7b9d 1rem);
}
.contact-btn__title {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-size: 1.25em;
	font-weight: 900;
	line-height: 1;
}
@media screen and (min-width: 1200px) {
	.contact-btn__title {
		font-size: 1.4em;
	}
}
.contact-btn__title::before, .contact-btn__title::after {
	content: "";
	background: #fff;
	width: 1.25rem;
	height: 1px;
}
.contact-btn__body {
	background: #fff;
	border-radius: 100vh;
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	padding: 0.625rem 1.25rem;
	height: 50px;
	width: 100%;
	position: relative;
}
@media screen and (min-width: 768px) {
	.contact-btn__body {
		height: auto;
	}
}
@media screen and (min-width: 1200px) {
	.contact-btn__body {
		justify-content: space-between;
		padding: 1.25rem;
	}
}
.contact-btn .contact-btn__body::after, .contact-btn--mail .contact-btn__body::after, .contact-btn--line .contact-btn__body::after {
	background-image: url(../img/icon-arrow-tell.svg);
}
@media screen and (min-width: 1200px) {
	.contact-btn .contact-btn__body::after, .contact-btn--mail .contact-btn__body::after, .contact-btn--line .contact-btn__body::after {
		width: 1em;
		height: 1em;
		right: 1.25em;
	}
}
.contact-btn__number {
	color: #ea6c92;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-family: "M PLUS 1p", sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
}
@media screen and (min-width: 1200px) {
	.contact-btn__number {
		gap: 0.375rem;
	}
}
.contact-btn__number::before {
	content: "";
	background: url(../img/icon-phone.svg) center center/contain no-repeat;
	display: block;
	width: 1.875rem;
	height: 1.875rem;
}
@media screen and (min-width: 1200px) {
	.contact-btn__number::before {
		width: 1.5rem;
		height: 1.5rem;
	}
}
.contact-btn__text {
	color: #f0a573;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	font-size: 1.1rem;
	font-weight: 900;
	line-height: 1;
}
.contact-btn__text::before {
	content: "";
	background: url(../img/icon-mail.svg) center center/contain no-repeat;
	display: block;
	width: 1.5rem;
	height: 18px;
}
.contact-btn--mail {
	background: repeating-linear-gradient(135deg, #f0a573, #f0a573 0.5rem, #f2ae81 0.5rem, #f2ae81 1rem);
}
.contact-btn--mail .contact-btn__body::after {
	background-image: url(../img/icon-arrow-mail.svg) !important;
}
.contact-btn--mail .contact-btn__text {
	color: #f0a573;
}
.contact-btn--line {
	background: #06C755;
}
.contact-btn--line .contact-btn__body::after {
	background-image: url(../img/icon-arrow-line.svg) !important;
}
.contact-btn--line .contact-btn__text {
	color: #06C755;
}
.contact-btn--line .contact-btn__text::before {
	background-image: url(../img/icon-line.svg);
}

/* ============================
* HOME page
* ========================= */
.main-visual {
	height: 100vh;
	margin-top: -80px;
}
@media screen and (min-width: 768px) {
	.main-visual {
		margin-top: -100px;
	}
}
.main-visual__img {
	height: 100%;
}
.main-visual__img img {
	height: 100%;
	width: 100%;
}

.home-about__inner {
	background: #fffce3;
}
.home-about__content {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 30px;
	text-align: center;
}
.home-about__text {
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
}
@media screen and (min-width: 768px) {
	.home-about__text {
		font-size: 1.25em;
	}
}
.home-about .about-btn {
	background: #ea6c92;
}

.sns .shape-top::before, .sns .shape-bottom::before, .sns .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
}
.sns .shape-bottom::before, .sns .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f4ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f0f4ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f0f4ff"/></svg>');
}

.announce__inner {
	background: #f0f4ff;
}
.announce__content {
	background: #fff;
	border-radius: 1.25em;
}
.announce__list {
	padding: 1.25rem 1rem;
}
@media screen and (min-width: 768px) {
	.announce__list {
		padding: 1.25em;
	}
}
.announce__item {
	border-bottom: 1px solid #adadad;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.625em;
	padding: 0.625rem 1rem;
}
.announce__date {
	color: #f0a573;
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
}
@media screen and (min-width: 768px) {
	.announce__date {
		font-size: 1.25em;
	}
}
.announce__title {
	color: #858585;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
}
@media screen and (min-width: 768px) {
	.announce__title {
		font-size: 1.25em;
	}
}
.announce .announce-btn {
	background: #9eb8ff;
}

.course-instructor__inner {
	gap: 60px;
}
.course-instructor .shape-top::before, .course-instructor .shape-bottom::before, .course-instructor .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23f0f4ff"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23f0f4ff"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23f0f4ff"/></svg>');
}
.course-instructor .shape-bottom::before, .course-instructor .shape-bottom-contact-mini::before {
	background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fffce3"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fffce3"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fffce3"/></svg>');
}

.course, .instructor {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}
@media screen and (min-width: 1200px) {
	.course, .instructor {
		flex-flow: row;
		gap: 60px;
	}
}
.course__img, .instructor__img {
	height: 200px;
	width: 100%;
}
@media screen and (min-width: 768px) {
	.course__img, .instructor__img {
		height: 430px;
	}
}
.course__img img, .instructor__img img {
	border-radius: 1.25rem;
	box-shadow: 2px 2px 4px 0px #ebebeb;
	height: 100%;
	width: 100%;
}
.course__content, .instructor__content {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.course__content .home-title .home-title__ja, .instructor__content .home-title .home-title__ja {
	padding-bottom: 0;
}
.course__content .home-title .dots-inner, .instructor__content .home-title .dots-inner {
	padding-bottom: 1.25rem;
}
.course__title-area {
	align-items: flex-start !important;
	width: 100%;
}
.course__text-area, .instructor__text-area {
	color: #858585;
	text-align: center;
}
.course__lead, .instructor__lead {
	font-size: 1.25em;
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 1;
	padding-bottom: 1.25rem;
}
.course__text, .instructor__text {
	font-size: 1em;
	font-weight: 500;
	line-height: 1.8;
	text-align: left;
}
.course .course-btn, .instructor .course-btn {
	background: #ea6c92;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.instructor {
		flex-direction: row-reverse;
	}
}
.instructor__title-area {
	align-items: flex-end !important;
	width: 100%;
}
.instructor .lesson__lead {
	letter-spacing: -0.04em;
}
.instructor .instructor-btn {
	background: #f0a573;
	width: 100%;
}

.schedule {
	background: #fffce3;
}
.schedule__desc {
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
	.schedule__desc {
		font-size: 1.25em;
		text-align: center;
		margin-bottom: 40px;
	}
}
@media screen and (min-width: 1200px) {
	.schedule__btn-box {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 40px;
	}
}
.schedule .schedule-btn-mini {
	background: #f0a573;
	width: 100%;
}
.schedule .schedule-btn-mini:not(:last-of-type) {
	margin-bottom: 1.25rem;
}
@media screen and (min-width: 1200px) {
	.schedule .schedule-btn-mini:not(:last-of-type) {
		margin-bottom: 0;
	}
}
.schedule .schedule-btn-mini__inner {
	justify-content: flex-start;
}
.schedule .schedule-btn {
	background: #ef8891;
	width: 100%;
	max-width: none;
}
.schedule .schedule-btn__inner {
	font-size: 1.5em;
	line-height: 1.2;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.schedule .schedule-btn__inner {
		height: 80px;
	}
}