:root {
	--swiper-theme-color: #ea6c92;
}

.swiper-wrap {
	position: relative;
	margin: 0 auto 40px;
	width: 100%;
}
.swiper {
	margin: auto;
	/* overflow: visible; */
}
.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .swiper-slide img {
	aspect-ratio: 1 / 1;
	width: 100%;
} */
.swiper-pagination {
	bottom: -40px !important;
}
.swiper-pagination-bullet-active {

}

.swiper-button-prev,
.swiper-button-next {
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(51, 51, 51, 0.60);
	border-radius: 100vh;
	z-index: 1;
}
.swiper-button-prev {
	left: calc(-2.25rem / 2);
}
.swiper-button-next {
	right: calc(-2.25rem / 2);
}
.swiper-button-prev::after,
.swiper-button-next::after {
	color: #fff;
	font-size: 1.25rem;
}
.swiper-pagination {
	z-index: 1;
}
/* @media screen and (min-width: 1200px) {


} */
@media screen and (min-width: 768px) {
	.swiper-wrap {
		margin-bottom: 60px;
		/* width: calc(100% - 40px); */
	}
	.swiper-slide {
		width: calc(100% - 40px);
	}
	.swiper-pagination {
		bottom: -60px !important;
	}
	.swiper-button-prev,
	.swiper-button-next {
		width: 4rem;
		height: 4rem;
	}
	.swiper-button-prev {
		left: calc(-4rem);
	}
	.swiper-button-next {
		right: calc(-4rem);
	}
	.swiper-button-prev::after,
	.swiper-button-next::after {
		font-size: 1.75rem;
	}
}
