@use '../global/color' as *;
@use '../global/font' as *;
@use '../global/breakpoints' as *;
@use '../global/mixin' as *;
@use '../global/common' as *;

.child-course {

	&__top {
		background: $color_pastel-yellow-light-bg;
	}

	&__main {
		.course-main {
			&__banner {
				width: 100%;
			}

			&__btn {
				background: $color_contact-btn;
				width: 100%;
				max-width: none;
			}

			&__link {
				font-size: 1.25em;
				line-height: 1.2;
				text-align: center;

				@include mq(min, md) {
					height: 80px;
				}
			}
		}
	}

	&__detail {
		background: $color_pastel-yellow-light-bg;

		.course-detail {

			&__content {
				background: $color_white;
				border: 2px solid $color_pastel-orange;
				border-radius: 1.25rem;
				box-shadow: 0px 0px 10px 0px $color_btn-shadow;
				@include flex(column, null, center);
				gap: 2.5rem;
				padding: 2.5rem 1.25rem;
				@include mq(min, md) {
					padding: 2.5rem;
				}
				@include mq(min, xl) {
					padding: 3.75rem;
				}
			}

			&__title {
				line-height: 1.2;
			}

			&__body {
				@include flex(column, null, null);
				gap: 2.5rem;
				@include mq(min, xl) {
					flex-direction: row;
				}

				&--aerobics {
					width: 100%;
					.course-detail__img {
						width: 100%;
					}
				}
			}

			&__img {
				width: 100%;
				height: 220px;

				@include mq(min, xl) {
					width: calc((100% - 40px) / 2);
					height: 260px;
				}

				img {
					border-radius: 1.25rem;
					width: 100%;
					height: 100%;
				}
			}

			&__text {
				font-size: 1em;
				@include mq(min, xl) {
					font-size: 1.25em;
					width: calc((100% - 40px) / 2);
				}
			}

			&__list {
				@include flex(column, center, flex-start);
				gap: 1.25rem;
				width: 100%;
				@include mq(min, xl) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
				}

				&--only {
					@include flex(null, center, center);
					width: 100%;
				}
			}

			&__btn {
				background: $color_pastel-orange;
				width: 100%;
			}

			&__link {
				@include flex(column, center, center);
				gap: 0.375rem;
				font-size: 1em;
				padding: 1rem;
			}

			&__name {
				font-size: 1.125em;
				font-weight: 700;
				line-height: 1;
				@include mq(min, md) {
					font-size: 1.11111em;
				}
			}

			&__time-box {
				@include mq(min, md) {
					@include flex(null, center, center);
					gap: 1.25rem;
				}
			}

			&__time {
				@include flex(null, center, center);
				gap: 0.625rem;
				font-size: 0.875rem;
				font-weight: 700;
				p {
					line-height: 1;
				}
				@include mq(min, md) {
				}
			}

			&__age {
				font-size: 0.875rem;
				font-weight: 700;
				line-height: 1;
			}
		}

		.new-mark {
			&::before {
				content: '';
				background: url(../img/course/icon-new.png) center center / contain no-repeat;
				display: inline-block;
				height: 2.5rem;
				width: 2.5rem;
				position: absolute;
				top: 50%;
				left: 1.25rem;
				transform: rotate(-10deg) translateY(-50%);
			}
		}
	}

	&__secondary {
		.course-secondary {
			@include flex(column, null, center);
			gap: 2.5rem;

			@include mq(min, md) {
				gap: 3.75rem;
			}

			&__img {
				width: 100%;
				height: 260px;

				img {
					border-radius: 1.25rem;
					width: 100%;
					height: 100%;
				}
			}
			&__btn {
				background: $color_pastel-pink;
			}
		}
	}

}
