@use '../global/color' as *;
@use '../global/font' as *;
@use '../global/breakpoints' as *;
@use '../global/mixin' as *;
@use '../global/common' as *;

.child-procedure {
	background: $color_pastel-orange-light-bg;

	&__main {
		.procedure-main {
			&__btn {
				background: $color_contact-btn;
			}
		}

		.campaign {
			@include flex(column, null, center);
			gap: 1.25rem;
			width: 100%;

			&__content {
				background: mix($color_corporate, $color_white, 10%);
				border-radius: 0.625rem;
				@include flex(column, center, center);
				gap: 0.625rem;
				padding: 1.25rem;
				width: 100%;
				@include mq(min, md) {
					gap: 1.25rem;
					padding: 2.5rem;
				}
			}

			&__item {
				background: $color_white;
				border-radius: 0.3125rem;
				@include flex(null, center, center);
				gap: 1.25rem;
				padding: 0.625rem;
				width: 100%;
				@include mq(min, md) {
					gap: 2.5rem;
					padding: 1.25rem;
				}
			}

			&__head {
				font-size: 1.25rem;
				line-height: 1;
				text-align: end;
				@include mq(min, md) {
					font-size: 1.5rem;
				}
			}

			&__body {
				@include flex(column, null, flex-start);
			}

			&__body-inner {
				@include mq(min, md) {
					width: 240px;
					text-align: center;
				}
			}

			&__info {
				background: $color_pastel-orange;
				border-radius: 100vh;
				color: $color_white;
				font-size: 0.875rem;
				font-weight: 700;
				line-height: 1;
				margin-bottom: 0.3125rem;
				padding: 0.3rem 1rem;
				@include mq(min, md) {
					font-size: 1.25rem;
					padding: 0.625rem 1rem;
					text-align: center;
					width: 240px;
				}
			}

			&__price-box {
				@include mq(min, md) {
					@include flex(null, center, flex-end);
					gap: 1.25rem;
				}
			}

			&__price {
				color: $color_pastel-pink;
				font-size: 1em;
				font-weight: 700;
				line-height: 1;
			}

			&__before {
				font-size: 1em;
				font-weight: 700;
				line-height: 1;
				margin-top: 0.625rem;
				padding: 0 0.625rem;
				position: relative;
				width: fit-content;
				&::after {
					content: '';
					width: 100%;
					border-top: 1px solid $color_black;
					position: absolute;
					top: 50%;
					left: 0;
				}
			}

			&__note {
				font-size: 0.75rem;
				line-height: 1;
				@include mq(min, md) {
					font-size: 1em;
				}
			}

			&__text {
				font-size: 1em;
				line-height: 1.8;
				@include mq(min, md) {
					font-size: 1.11111em;
				}
			}
		}

		.price-emphasis {
			font-size: 2.25em;
			line-height: 1;
			padding-right: 0.1em;
			@include mq(min, md) {
				font-size: 2.666666em;
			}
		}

		.join {
			width: 100%;

			&__content {
				&:not(:first-of-type) {
					margin-top: 2.5rem;
				}
			}

			&__btn {
				background: $color_pastel-orange;
			}

			&__text {
				font-size: 0.875rem;
				line-height: 1.4;
				margin-top: 1em;
				text-align: center;
				@include mq(min, md) {
					font-size: 1em;
				}
			}
		}

		.belongings {
			width: 100%;

			&__content {
				background: mix($color_corporate, $color_white, 5%);
				border: 1px solid $color_corporate;
				border-radius: 0.625rem;
				@include flex(column, null, center);
				gap: 1.25rem;
				padding: 1.25rem;
				width: 100%;
			}

			&__title {
				@include textLineMarker(rgba($color_corporate, 0.5));
				font-size: 1.25em;
				font-weight: 700;
				line-height: 1;
			}

			&__list {
				@include flex(column, null, flex-start);
				gap: 1em;
				width: 100%;
				@include mq(min, md) {
					width: auto;
				}
			}

			&__item {
				@include flex(null, null, null);
				gap: 0.625rem;

				&::before {
					content: '';
					display: block;
					background: url(../img/procedure/icon_check.svg);
					width: 1.25rem;
					height: 1.25rem;
				}
			}

			&__item-inner {
				@include flex(column, null, null);
				gap: 0.625rem;
			}

			&__detail {
				font-size: 1em;
				line-height: 1;
			}

			&__note {
				font-size: 0.75em;
				line-height: 1.4;
			}

			&__info {
				@include flex(column, null, center);
				gap: 0.625rem;
				margin-top: 2.5rem;
			}

			&__text {
				font-size: 0.9375em;
				line-height: 1.4;
				text-align: center;
				@include mq(min, md) {
					font-size: 1em;
				}
			}
		}
	}

	&__secondary {
		background: $color_pastel-orange-light-bg;

		.procedure-secondary {
			&__text {
				font-size: 1em;
				line-height: 1.8;
				text-align: center
			}

			&__content {
				@include flex(column, null, center);
				gap: 1.25rem;
				@include mq(min, md) {
					gap: 2.5rem;
				}
			}

			&__subtitle {
				font-size: 1.25em;
				font-weight: 700;
				line-height: 1;
				text-align: center;
			}

			&__btn-box {
				@include flex(column, null, center);
				gap: 1.25rem;
				width: 100%;
				@include mq(min, md) {
					gap: 1.75rem;
				}
			}

			&__btn {
				background: $color_pastel-orange;
			}
		}
	}
}
